HF_TOKEN=huggingface_token

#Speed
#MODEL=QuantTrio/Qwen3.6-27B-AWQ
#Medium
#MODEL=twolven/Qwen3.8-27B-abliterated-AWQ-MTP
#HARD
#MODEL=lued/Qwen3.8-27B-INT8-W8A16-MTP


#NOW
MODEL=shawnw3i/Qwen3.8-27B-AWQ-MTP
